.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 5vh;
}

.link-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.link-option {
  color: #eaac8b;
  text-shadow: 0.5px 0.5px whitesmoke;
  text-decoration: none;
  margin: auto 10px;
  font-size: 1.2rem;
}
