.contact-page {
    margin-top: 5%;
}

.contact-icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-text {
    width: 80vw;
    margin-top: 5%;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.6rem;
}

.contact-icon {
    width: 10vw;
    margin: 5% 3%;
}